.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.heading {
    background-color: brown;
    grid-column: 1/-1;
}

.notes {
    background-color: aqua;
    grid-column: 1/1;
}

.Placeholder {
    background-color: green;
    grid-column: 2/-1;
}

.footing {
    background-color: brown;
    grid-column: 1/-1;
}

.center-grid-item {
    justify-content: center;
    align-items: center;
    display: flex;
}

.center-textarea {
    justify-content: center;
    align-items: center;
    display: flex;
}