.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 0.8em;
    grid-column-gap: 0.8em;
    height: 98vh;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

header {
    background-color: #5C80BC;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #9AA899;
    grid-column: 1/-1;
}

.notes {
    background-color: #BD8B9C;
    grid-column: 1/1;
}

.Placeholder {
    background-color: #4B8F8C;
    grid-column: 2/-1;
}

.textbox {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.textbox-child {
    width: 85%;
    height: 85%;
    border-radius: 0.8em;
}

button {
    border-radius: 1em;
    color: white;
    padding: 1em 1em;
}

.button_1 {
    background-color: green;
}

.button_2 {
    background-color: black;
}

.button_3 {
    background-color: green;
    margin-top: 4em;
}

.button_4 {
    background-color: red;
    margin-top: 4em;
}

.spaced-between {
    justify-content: space-between;
    display: flex;
    margin: 3em;
}

.spaced-center {
    justify-content: center;
    display: flex;
}

.footer-container {
    justify-content: center;
    display: flex;
}

.hidden-style {
    visibility: hidden;
}

.darkColor {
    background-color: grey;
}